#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17817-4
{
	font-family: lato-n9, sans-serif;
}

#u18083-4,#u18066-4,#u18087-4,#u18062-4,#u18075-4,#u18065-4,#u18063-4,#u18070-4
{
	font-family: lato-n7, sans-serif;
}

#u17828-4
{
	font-family: lato-i3, sans-serif;
}

#u17819-4,#u17820-4,#u17824-5,#u17842-4,#u17840-6,#u17839-4,#u17853-4,#u17829-4,#u17830-4,#u17837-4,#u17854-6,#u17857-4,#u17858-4,#u17859-4,#u17825-5
{
	font-family: lato-n3, sans-serif;
}

#u17818-4,#u17897-5,#u17824,#u18076-4,#u18088-4,#u18069-4,#u18078-4,#u18077-4,#u18064-5,#u18060-4,#u18086-4,#u18080-4,#u18079-5,#u18061-4,#u18067-4,#u17834-4,#u17831-4,#u17825
{
	font-family: lato-n4, sans-serif;
}

