#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17014-4
{
	font-family: lato-n9, sans-serif;
}

#u17061-4
{
	font-family: lato-i3, sans-serif;
}

#u17037-4,#u17045-4,#u17044-4,#u17038-4,#u17054-4,#u17053-4,#u17036-4,#u17041-4
{
	font-family: lato-n7, sans-serif;
}

#u17016-4,#u17067-4,#u17071-6,#u17082-4,#u17068-4,#u17060-4,#u17072-4,#u17070-4,#u17017-4,#u17021-5,#u17023-5
{
	font-family: lato-n3, sans-serif;
}

#u17085-4,#u17059-4,#u17015-15,#u17021,#u17057-4,#u17046-4,#u17049-4,#u17051-4,#u17031-4,#u17047-5,#u17052-4,#u17025-4,#u17026-4,#u17029-5,#u17042-4,#u17056-4,#u17023
{
	font-family: lato-n4, sans-serif;
}

