#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17441-4
{
	font-family: lato-n9, sans-serif;
}

#u17495-4
{
	font-family: lato-i3, sans-serif;
}

#u17477-4,#u17479-4,#u17452-4,#u17459-4,#u17464-4,#u17482-4,#u17473-4,#u17465-4
{
	font-family: lato-n7, sans-serif;
}

#u17443-4,#u17507-4,#u17500-6,#u17496-4,#u17512-4,#u17499-4,#u17493-4,#u17506-4,#u17444-4,#u17448-5,#u17450-5
{
	font-family: lato-n3, sans-serif;
}

#u17510-4,#u17498-4,#u17442-14,#u17448,#u17480-4,#u17461-4,#u17476-4,#u17481-4,#u17467-4,#u17463-5,#u17484-4,#u17458-4,#u17468-4,#u17456-4,#u17466-4,#u17478-4,#u17450
{
	font-family: lato-n4, sans-serif;
}

