#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16267-4
{
	font-family: lato-n9, sans-serif;
}

#u16316-4
{
	font-family: lato-n7, sans-serif;
}

#u16357-4
{
	font-family: lato-i1, sans-serif;
}

#u16268-4,#u16346-4,#u16351-4,#u16318-4,#u16319-6,#u16326-4,#u16327-4,#u16324-4,#u16325-4
{
	font-family: lato-n3, sans-serif;
}

#u16297-5,#u16264-17,#u18271-4,#u18270-4
{
	font-family: lato-n4, sans-serif;
}

