#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16812-4
{
	font-family: lato-n9, sans-serif;
}

#u16840-4
{
	font-family: lato-i3, sans-serif;
}

#u16803-4,#u16802-4,#u16781-4,#u16800-4,#u16782-4,#u16784-4,#u16786-4,#u16811-4
{
	font-family: lato-n7, sans-serif;
}

#u16814-4,#u16839-4,#u16842-6,#u16847-4,#u16849-4,#u16828-4,#u16835-4,#u16838-4,#u16815-4,#u16819-5,#u16821-5
{
	font-family: lato-n3, sans-serif;
}

#u16846-4,#u16843-4,#u16813-12,#u16819,#u16804-4,#u16787-4,#u16808-4,#u16809-4,#u16807-4,#u16801-5,#u16783-4,#u16779-4,#u16806-4,#u16788-5,#u16810-4,#u16805-4,#u16821
{
	font-family: lato-n4, sans-serif;
}

