#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17678-4
{
	font-family: lato-n9, sans-serif;
}

#u18046-4,#u18029-4,#u18050-4,#u18025-4,#u18038-4,#u18028-4,#u18026-4,#u18033-4
{
	font-family: lato-n7, sans-serif;
}

#u17736-4
{
	font-family: lato-i3, sans-serif;
}

#u17680-4,#u17681-4,#u17685-5,#u17730-4,#u17735-6,#u17723-4,#u17724-4,#u17747-4,#u17728-4,#u17727-4,#u17763-6,#u17766-4,#u17769-4,#u17770-4,#u17687-5
{
	font-family: lato-n3, sans-serif;
}

#u17679-4,#u17815-4,#u17685,#u18039-4,#u18051-4,#u18032-4,#u18041-4,#u18040-4,#u18027-5,#u18023-4,#u18049-4,#u18043-4,#u18042-5,#u18024-4,#u18030-4,#u17741-4,#u17725-4,#u17687
{
	font-family: lato-n4, sans-serif;
}

