#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16858-4
{
	font-family: lato-n9, sans-serif;
}

#u16905-4
{
	font-family: lato-i3, sans-serif;
}

#u16881-4,#u16889-4,#u16888-4,#u16882-4,#u16898-4,#u16897-4,#u16880-4,#u16885-4
{
	font-family: lato-n7, sans-serif;
}

#u16860-4,#u16911-4,#u16915-6,#u16926-4,#u16912-4,#u16904-4,#u16916-4,#u16914-4,#u16861-4,#u16865-5,#u16867-5
{
	font-family: lato-n3, sans-serif;
}

#u16929-4,#u16903-4,#u16859-15,#u16865,#u16901-4,#u16890-4,#u16893-4,#u16895-4,#u16875-4,#u16891-5,#u16896-4,#u16869-4,#u16870-4,#u16873-5,#u16886-4,#u16900-4,#u16867
{
	font-family: lato-n4, sans-serif;
}

