#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u15682-4
{
	font-family: lato-n9, sans-serif;
}

#u17333-4
{
	font-family: lato-i3, sans-serif;
}

#u16485-4,#u16493-4,#u16490-4,#u16511-4,#u16491-4,#u16503-4,#u16489-4,#u16483-4
{
	font-family: lato-n7, sans-serif;
}

#u15694-4,#u17334-4,#u17342-6,#u17336-4,#u17346-4,#u17358-4,#u17352-4,#u17354-4,#u15695-4,#u15719-5,#u15688-5
{
	font-family: lato-n3, sans-serif;
}

#u17357-4,#u17344-4,#u15709-14,#u15719,#u16500-4,#u16513-4,#u16508-4,#u16504-4,#u16488-4,#u16512-5,#u16505-4,#u16496-4,#u16506-4,#u16482-5,#u16487-4,#u16514-4,#u15688
{
	font-family: lato-n4, sans-serif;
}

