#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u18162-4
{
	font-family: lato-n3, sans-serif;
}

#u18161-4
{
	font-family: lato-n9, sans-serif;
}

#u18187-5,#u18164-12,#u18177-4,#u18169-4,#u18173-4,#u18170-4,#u18175-4,#u18171-4,#u18174-4,#u18172-4,#u18176-4,#u18156-4,#u18155-23
{
	font-family: lato-n4, sans-serif;
}

#u18154-4,#u18158-4
{
	font-family: lato-n7, sans-serif;
}

