#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17253-4
{
	font-family: lato-n9, sans-serif;
}

#u17304-4
{
	font-family: lato-i3, sans-serif;
}

#u17294-4,#u17264-4,#u17288-4,#u17277-4,#u17286-4,#u17276-4,#u17265-4,#u17285-4
{
	font-family: lato-n7, sans-serif;
}

#u17255-4,#u17302-4,#u17324-6,#u17303-4,#u17322-4,#u17299-4,#u17320-4,#u17310-4,#u17256-4,#u17260-5,#u17262-5
{
	font-family: lato-n3, sans-serif;
}

#u17318-4,#u17298-4,#u17254-11,#u17260,#u17270-4,#u17275-4,#u17283-4,#u17293-4,#u17269-4,#u17266-5,#u17289-4,#u17267-4,#u17291-4,#u17290-5,#u17274-4,#u17273-4,#u17262
{
	font-family: lato-n4, sans-serif;
}

