#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17989-4
{
	font-family: lato-n3, sans-serif;
}

#u17988-4
{
	font-family: lato-n9, sans-serif;
}

#u18014-5,#u17991-12,#u18004-4,#u17996-4,#u18000-4,#u17997-4,#u18002-4,#u17998-4,#u18001-4,#u17999-4,#u18003-4,#u17981-4,#u17985-23
{
	font-family: lato-n4, sans-serif;
}

#u17984-4,#u17982-4
{
	font-family: lato-n7, sans-serif;
}

