#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17520-4
{
	font-family: lato-n9, sans-serif;
}

#u17585-4
{
	font-family: lato-i3, sans-serif;
}

#u17560-4,#u17550-4,#u17538-4,#u17554-4,#u17534-4,#u17542-4,#u17533-4,#u17541-4
{
	font-family: lato-n7, sans-serif;
}

#u17522-4,#u17584-4,#u17582-6,#u17591-4,#u17583-4,#u17590-4,#u17588-4,#u17571-4,#u17523-4,#u17527-5,#u17529-5
{
	font-family: lato-n3, sans-serif;
}

#u17580-4,#u17573-4,#u17521-14,#u17527,#u17537-4,#u17558-4,#u17547-4,#u17559-4,#u17553-4,#u17543-5,#u17536-4,#u17552-4,#u17555-4,#u17535-5,#u17546-4,#u17548-4,#u17529
{
	font-family: lato-n4, sans-serif;
}

