#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17095-4
{
	font-family: lato-n9, sans-serif;
}

#u17149-4
{
	font-family: lato-i3, sans-serif;
}

#u17115-4,#u17120-4,#u17113-4,#u17122-4,#u17109-4,#u17118-4,#u17134-4,#u17111-4
{
	font-family: lato-n7, sans-serif;
}

#u17097-4,#u17162-4,#u17161-6,#u17153-4,#u17156-4,#u17150-4,#u17151-4,#u17158-4,#u17098-4,#u17102-5,#u17104-5
{
	font-family: lato-n3, sans-serif;
}

#u17142-4,#u17159-4,#u17096-11,#u17102,#u17126-4,#u17138-4,#u17130-4,#u17127-4,#u17117-4,#u17114-5,#u17125-4,#u17133-4,#u17107-4,#u17110-5,#u17112-4,#u17119-4,#u17104
{
	font-family: lato-n4, sans-serif;
}

