#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17174-4
{
	font-family: lato-n9, sans-serif;
}

#u17225-4
{
	font-family: lato-i3, sans-serif;
}

#u17215-4,#u17185-4,#u17209-4,#u17198-4,#u17207-4,#u17197-4,#u17186-4,#u17206-4
{
	font-family: lato-n7, sans-serif;
}

#u17176-4,#u17223-4,#u17245-6,#u17224-4,#u17243-4,#u17220-4,#u17241-4,#u17231-4,#u17177-4,#u17181-5,#u17183-5
{
	font-family: lato-n3, sans-serif;
}

#u17239-4,#u17219-4,#u17175-11,#u17181,#u17191-4,#u17196-4,#u17204-4,#u17214-4,#u17190-4,#u17187-5,#u17210-4,#u17188-4,#u17212-4,#u17211-5,#u17195-4,#u17194-4,#u17183
{
	font-family: lato-n4, sans-serif;
}

