#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17362-4
{
	font-family: lato-n9, sans-serif;
}

#u17407-4
{
	font-family: lato-i3, sans-serif;
}

#u17381-4,#u17394-4,#u17374-4,#u17384-4,#u17398-4,#u17400-4,#u17402-4,#u17385-4
{
	font-family: lato-n7, sans-serif;
}

#u17364-4,#u17430-4,#u17408-6,#u17409-4,#u17428-4,#u17432-4,#u17427-4,#u17426-4,#u17365-4,#u17369-5,#u17371-5
{
	font-family: lato-n3, sans-serif;
}

#u17425-4,#u17416-4,#u17363-14,#u17369,#u17375-4,#u17401-4,#u17376-4,#u17404-4,#u17389-4,#u17397-6,#u17383-4,#u17392-4,#u17380-4,#u17393-6,#u17379-4,#u17388-4,#u17371
{
	font-family: lato-n4, sans-serif;
}

