#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u18353-3,#u18353-4,#u18362-4,#u18285-5
{
	font-family: lato-n3, sans-serif;
}

#u18363-4,#u18369-4,#u18315-4,#u18296-4,#u18333-4,#u18343-4,#u18332-4,#u18284-4,#u18356-4,#u18317-4,#u18365-4,#u18330-4,#u18349-4,#u18344-4,#u18310-4,#u18335-4,#u18316-4,#u18337-4,#u18327-4,#u18301-4,#u18288-4,#u18320-4
{
	font-family: lato-n7, sans-serif;
}

#u18314-4,#u18374-6,#u18358-6,#u18299-4,#u18306-4,#u18286-4,#u18302-4,#u18318-4,#u18291-4,#u18370-4,#u18339-4,#u18366-4,#u18345-4,#u18353-2,#u18354-4,#u18352-4,#u18285,#u18328-4,#u18290-4,#u18319-4,#u18307-4,#u18297-4,#u18373-4,#u18312-4,#u18340-5,#u18355-4,#u18357-4,#u18346-4,#u18322-5,#u18371-4,#u18294-4
{
	font-family: lato-n4, sans-serif;
}

