#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u15808-3,#u15808-4,#u16032-4,#u16043-5
{
	font-family: lato-n3, sans-serif;
}

#u16064-4,#u16002-6,#u16006-6,#u16063-4,#u15985-4,#u15989-4,#u15992-4,#u15995-4,#u16062-4,#u16028-4,#u16018-4,#u16025-4,#u16020-4,#u15808-2,#u15977-4,#u15809-4,#u16043,#u16054-4,#u16055-4,#u16365-4,#u16368-4,#u16051-4,#u16058-4,#u16052-4,#u16059-5,#u16049-4,#u16056-4,#u16053-4,#u16060-5,#u16050-4,#u16057-4
{
	font-family: lato-n4, sans-serif;
}

#u16003-4,#u16007-4,#u15984-4,#u15990-4,#u15993-4,#u15996-4,#u16012-4,#u16017-4,#u16021-4,#u16023-4,#u16024-4,#u16027-4,#u16047-4,#u16048-4,#u16369-4,#u16367-4,#u16044-4,#u16094-4,#u16045-4,#u16095-4,#u16046-4,#u16096-4
{
	font-family: lato-n7, sans-serif;
}

