#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u17599-4
{
	font-family: lato-n9, sans-serif;
}

#u17647-4
{
	font-family: lato-i3, sans-serif;
}

#u17641-4,#u17615-4,#u17640-4,#u17635-4,#u17610-4,#u17637-4,#u17612-4,#u17634-4
{
	font-family: lato-n7, sans-serif;
}

#u17601-4,#u17660-4,#u17667-6,#u17652-4,#u17662-4,#u17670-4,#u17645-4,#u17665-4,#u17602-4,#u17606-5,#u17608-5
{
	font-family: lato-n3, sans-serif;
}

#u17658-4,#u17664-4,#u17600-14,#u17606,#u17639-4,#u17618-4,#u17616-4,#u17617-4,#u17614-4,#u17633-5,#u17613-4,#u17642-4,#u17611-4,#u17619-5,#u17621-4,#u17638-4,#u17608
{
	font-family: lato-n4, sans-serif;
}

