#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16734-4
{
	font-family: lato-n9, sans-serif;
}

#u16762-4
{
	font-family: lato-i3, sans-serif;
}

#u16703-4,#u16722-4,#u16725-4,#u16724-4,#u16704-4,#u16706-4,#u16708-4,#u16733-4
{
	font-family: lato-n7, sans-serif;
}

#u16736-4,#u16761-4,#u16764-6,#u16769-4,#u16771-4,#u16750-4,#u16757-4,#u16760-4,#u16737-4,#u16741-5,#u16743-5
{
	font-family: lato-n3, sans-serif;
}

#u16768-4,#u16765-4,#u16735-12,#u16741,#u16730-4,#u16731-4,#u16726-4,#u16709-4,#u16729-4,#u16723-5,#u16705-4,#u16701-4,#u16728-4,#u16710-5,#u16732-4,#u16727-4,#u16743
{
	font-family: lato-n4, sans-serif;
}

