#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u2639-4
{
	font-family: lato-n9, sans-serif;
}

#u16526-4
{
	font-family: lato-i3, sans-serif;
}

#u16380-4,#u16381-4,#u16377-4,#u16400-4,#u16378-4,#u16401-4,#u16379-4,#u16402-4
{
	font-family: lato-n7, sans-serif;
}

#u2644-4,#u4527-4,#u4528-6,#u15558-4,#u4530-4,#u15560-4,#u4547-4,#u15559-4,#u2656-4,#u6609-5,#u11183-5
{
	font-family: lato-n3, sans-serif;
}

#u16529-4,#u4534-4,#u2640-12,#u6609,#u16387-4,#u16388-4,#u16384-4,#u16391-4,#u16385-4,#u16392-5,#u16382-4,#u16389-4,#u16386-4,#u16393-5,#u16383-4,#u16390-4,#u11183
{
	font-family: lato-n4, sans-serif;
}

