#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16655-4
{
	font-family: lato-n9, sans-serif;
}

#u16671-4
{
	font-family: lato-i3, sans-serif;
}

#u16645-4,#u16638-4,#u16625-4,#u16632-4,#u16628-4,#u16629-4,#u16642-4,#u16647-4
{
	font-family: lato-n7, sans-serif;
}

#u16657-4,#u16672-4,#u16692-6,#u16691-4,#u16667-4,#u16677-4,#u16690-4,#u16688-4,#u16658-4,#u16662-5,#u16664-5
{
	font-family: lato-n3, sans-serif;
}

#u16679-4,#u16685-4,#u16656-12,#u16662,#u16631-4,#u16622-4,#u16654-4,#u16634-4,#u16649-4,#u16640-5,#u16644-4,#u16650-4,#u16643-4,#u16646-5,#u16648-4,#u16639-4,#u16664
{
	font-family: lato-n4, sans-serif;
}

