#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u18107-4
{
	font-family: lato-n9, sans-serif;
}

#u18108-4,#u18138-3,#u18138-4,#u18139-3,#u18139-4,#u18140-3,#u18140-4
{
	font-family: lato-n3, sans-serif;
}

#u18142-4
{
	font-family: lato-i3, sans-serif;
}

#u18110-12,#u18123-4,#u18133-5,#u18138-2,#u18139-2,#u18140-2,#u18145-4,#u18115-4,#u18119-4,#u18116-4,#u18121-4,#u18117-4,#u18120-4,#u18118-4,#u18122-4,#u18102-4,#u18103-23
{
	font-family: lato-n4, sans-serif;
}

#u18104-4,#u18100-4
{
	font-family: lato-n7, sans-serif;
}

