#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u18610-4
{
	font-family: lato-n9, sans-serif;
}

#u18627-4
{
	font-family: lato-i3, sans-serif;
}

#u18591-4,#u18598-4,#u18601-4,#u18587-4,#u18600-4,#u18590-4,#u18594-4,#u18593-4
{
	font-family: lato-n7, sans-serif;
}

#u18579-4,#u18640-4,#u18628-6,#u18621-4,#u18635-4,#u18639-4,#u18620-4,#u18629-4,#u18641-4,#u18578-5,#u18575-5
{
	font-family: lato-n3, sans-serif;
}

#u18616-4,#u18618-4,#u18569-12,#u18578,#u18583-4,#u18609-4,#u18596-4,#u18606-4,#u18605-4,#u18608-5,#u18589-4,#u18584-4,#u18602-4,#u18585-5,#u18607-4,#u18592-4,#u18575
{
	font-family: lato-n4, sans-serif;
}

