#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u15599-4
{
	font-family: lato-n9, sans-serif;
}

#u16553-4
{
	font-family: lato-i3, sans-serif;
}

#u16440-4,#u16414-4,#u16436-4,#u16437-4,#u16409-4,#u16423-4,#u16430-4,#u16415-4
{
	font-family: lato-n7, sans-serif;
}

#u15604-4,#u16531-4,#u16532-6,#u16538-4,#u16533-4,#u16540-4,#u16537-4,#u16539-4,#u15608-4,#u15594-5,#u15603-5
{
	font-family: lato-n3, sans-serif;
}

#u16556-4,#u16534-4,#u15595-15,#u15594,#u16413-4,#u16439-4,#u16434-4,#u16421-4,#u16435-4,#u16412-5,#u16420-4,#u16416-4,#u16433-4,#u16438-5,#u16424-4,#u16432-4,#u15603
{
	font-family: lato-n4, sans-serif;
}

