#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u16936-4
{
	font-family: lato-n9, sans-serif;
}

#u16983-4
{
	font-family: lato-i3, sans-serif;
}

#u16959-4,#u16967-4,#u16966-4,#u16960-4,#u16976-4,#u16975-4,#u16958-4,#u16963-4
{
	font-family: lato-n7, sans-serif;
}

#u16938-4,#u16989-4,#u16993-6,#u17004-4,#u16990-4,#u16982-4,#u16994-4,#u16992-4,#u16939-4,#u16943-5,#u16945-5
{
	font-family: lato-n3, sans-serif;
}

#u17007-4,#u16981-4,#u16937-15,#u16943,#u16979-4,#u16968-4,#u16971-4,#u16973-4,#u16953-4,#u16969-5,#u16974-4,#u16947-4,#u16948-4,#u16951-5,#u16964-4,#u16978-4,#u16945
{
	font-family: lato-n4, sans-serif;
}

