#u6379-14
{
	font-family: lato-n9, sans-serif;
}

#u6372-4,#u6399-6,#u15432-6,#u15528-4,#u16361-4,#u15532-4
{
	font-family: lato-n4, sans-serif;
}

#u6393-4
{
	font-family: lato-i3, sans-serif;
}

#u15556-4,#u15545-4,#u15549-4,#u15554-4
{
	font-family: lato-n3, sans-serif;
}

#u15655-4
{
	font-family: lato-n9, sans-serif;
}

#u16562-4
{
	font-family: lato-i3, sans-serif;
}

#u16448-4,#u16456-4,#u16453-4,#u16474-4,#u16454-4,#u16466-4,#u16452-4,#u16446-4
{
	font-family: lato-n7, sans-serif;
}

#u15646-4,#u16573-4,#u16570-6,#u16575-4,#u16561-4,#u16565-4,#u16579-4,#u16587-4,#u15630-4,#u15653-5,#u15643-5
{
	font-family: lato-n3, sans-serif;
}

#u16577-4,#u16571-4,#u15666-11,#u15653,#u16463-4,#u16476-4,#u16471-4,#u16467-4,#u16451-4,#u16475-5,#u16468-4,#u16459-4,#u16469-4,#u16445-5,#u16450-4,#u16477-4,#u15643
{
	font-family: lato-n4, sans-serif;
}

