#u18432-14
{
	font-family: lato-n9, sans-serif;
}

#u18454-4,#u18447-6,#u18461-6,#u18435-4,#u18452-4,#u18439-4,#u18446-4
{
	font-family: lato-n4, sans-serif;
}

#u18459-4,#u18440-4,#u18428-4,#u18448-4
{
	font-family: lato-n3, sans-serif;
}

#u18511-4,#u18523-5
{
	font-family: lato-n3, sans-serif;
}

#u18546-4,#u18487-4,#u18490-4,#u18491-4,#u18492-4,#u18547-4,#u18488-6,#u18489-6,#u18545-4,#u18510-4,#u18507-4,#u18508-4,#u18509-4,#u18523,#u18536-4,#u18538-4,#u18537-4,#u18539-4,#u18533-4,#u18542-4,#u18534-4,#u18543-5,#u18531-4,#u18540-4,#u18535-4,#u18544-5,#u18532-4,#u18541-4
{
	font-family: lato-n4, sans-serif;
}

#u18481-4,#u18484-4,#u18485-4,#u18486-4,#u18482-4,#u18483-4,#u18497-4,#u18503-4,#u18505-4,#u18498-4,#u18504-4,#u18506-4,#u18527-4,#u18529-4,#u18528-4,#u18530-4,#u18524-4,#u18552-4,#u18525-4,#u18553-4,#u18526-4,#u18554-4
{
	font-family: lato-n7, sans-serif;
}

