html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 752px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 21px;
}

#pu6375
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u6375
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u15433
{
	z-index: 60;
	width: 142px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 124px;
}

#pu6379-14
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 299px;
}

#u6379-14
{
	z-index: 3;
	width: 482px;
	min-height: 28px;
}

#u15547
{
	z-index: 80;
	width: 11px;
	margin-left: 439px;
	margin-top: 5px;
}

#pu15557
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 892px;
}

#u15557
{
	z-index: 79;
	width: 11px;
}

#u15555
{
	z-index: 81;
	width: 11px;
	margin-top: 3px;
}

#pu6371
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 907px;
}

#u6371
{
	z-index: 18;
	width: 25px;
	margin-left: 105px;
}

#u6373
{
	z-index: 19;
	width: 25px;
	margin-right: -10000px;
}

#u6373.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u6372-4
{
	z-index: 20;
	width: 17px;
	min-height: 22px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 6px;
}

#u15556-4
{
	z-index: 66;
	width: 121px;
	min-height: 14px;
	margin-top: 11px;
}

#u6386
{
	z-index: 17;
	width: 1160px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u6375_align_to_page,#u6386_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u6399-6
{
	z-index: 36;
	width: 93px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 122px;
}

#u15432-6
{
	z-index: 42;
	width: 95px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 224px;
}

#u15528-4
{
	z-index: 48;
	width: 95px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 327px;
}

#u16361-4
{
	z-index: 82;
	width: 95px;
	min-height: 2px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 849px;
}

#u15530
{
	z-index: 24;
	width: 67px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 970px;
}

#u15531
{
	z-index: 25;
	width: 67px;
	margin-right: -10000px;
}

#u15532-4
{
	z-index: 26;
	width: 68px;
	min-height: 22px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u6391
{
	z-index: 30;
	width: 273px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 739px;
}

#u6392
{
	z-index: 31;
	width: 271px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u6392.MuseLinkActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6393-4
{
	z-index: 32;
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 9px;
}

#u15533
{
	z-index: 52;
	width: 18px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 459px;
}

#u15542
{
	z-index: 54;
	width: 18px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 325px;
}

#u15536
{
	z-index: 56;
	width: 18px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 611px;
}

#u15539
{
	z-index: 58;
	width: 18px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 703px;
}

#u15545-4
{
	z-index: 62;
	width: 121px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 753px;
}

#u15549-4
{
	z-index: 70;
	width: 121px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 753px;
}

#u15554-4
{
	z-index: 74;
	width: 121px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 907px;
}

#u15546
{
	z-index: 78;
	width: 11px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 738px;
}

._u15547.f3s_top,._u15557.f3s_top,._u15555.f3s_top,._u15546.f3s_top
{
	height: 12px;
	width: 11px;
}

#u17449
{
	z-index: 120;
	display: block;
	vertical-align: top;
	position: relative;
	width: 55px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 630px;
}

#u17443-4
{
	z-index: 104;
	width: 221px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 176px;
	margin-top: 19px;
	position: relative;
}

#u17441-4
{
	z-index: 86;
	width: 530px;
	min-height: 42px;
	font-size: 36px;
	color: #7CB47C;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 176px;
	margin-top: 13px;
	position: relative;
}

#pu17485
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 35px;
	position: relative;
}

#u17485
{
	z-index: 221;
	width: 144px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u17497
{
	z-index: 222;
	width: 137px;
	border-style: none;
	border-color: transparent;
	background-color: #EFEFEF;
	position: relative;
	margin-right: -10000px;
	padding: 24px 1px 14.222455997844918px 6px;
}

#pu17494
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u17494
{
	z-index: 270;
	width: 114px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17509
{
	z-index: 275;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u17511
{
	z-index: 276;
	width: 17px;
	-pie-box-shadow: 0px 1px 3px #7F7F7F;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u17510-4
{
	z-index: 277;
	width: 18px;
	min-height: 29px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2px;
}

#u17498-4
{
	z-index: 237;
	width: 127px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#u17507-4
{
	z-index: 223;
	width: 113px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 16px;
	position: relative;
}

#pu17487
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 10px;
	position: relative;
}

#u17487
{
	z-index: 241;
	width: 12px;
	position: relative;
	margin-right: -10000px;
}

#u17500-6
{
	z-index: 227;
	width: 92px;
	min-height: 33px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u17486
{
	z-index: 242;
	width: 12px;
	margin-left: 17px;
	top: -2px;
	position: relative;
}

._u17486.f3s_top
{
	height: 13px;
	background-image: url("../images/u4535-full.png");
	background-position: left top;
	width: 12px;
	margin-bottom: -2px;
}

#pu17508
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 2px;
	position: relative;
}

#u17508
{
	z-index: 259;
	width: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u17496-4
{
	z-index: 247;
	width: 98px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u17512-4
{
	z-index: 233;
	width: 113px;
	min-height: 22px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 15px;
	position: relative;
}

#pu17492
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 14px;
	position: relative;
}

#u17492
{
	z-index: 261;
	width: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u17499-4
{
	z-index: 255;
	width: 105px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u17493-4
{
	z-index: 243;
	width: 99px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 38px;
}

#u17506-4
{
	z-index: 251;
	width: 105px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 38px;
}

#u17505
{
	z-index: 260;
	width: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 23px;
}

._u17487.f3s_top,._u17508.f3s_top,._u17492.f3s_top,._u17505.f3s_top
{
	height: 13px;
	background-image: url("../images/u4535-full.png");
	background-position: left top;
	width: 12px;
}

#u17488
{
	z-index: 262;
	width: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 119px;
}

#u17491
{
	z-index: 263;
	width: 13px;
	border-style: none;
	border-color: transparent;
	background-color: #A9A9A9;
	position: relative;
	margin-right: -10000px;
}

#u17489
{
	z-index: 264;
	width: 13px;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	position: relative;
	margin-right: -10000px;
}

#u17501
{
	z-index: 266;
	width: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 120px;
}

#u17502
{
	z-index: 267;
	width: 13px;
	border-style: none;
	border-color: transparent;
	background-color: #A9A9A9;
	position: relative;
	margin-right: -10000px;
}

#u17503
{
	z-index: 268;
	width: 13px;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	position: relative;
	margin-right: -10000px;
}

#u17489_clip,#u17503_clip
{
	overflow: hidden;
	width: 13px;
	height: 9px;
}

#u17489_img,#u17503_img
{
	margin-top: -4px;
	margin-bottom: -3px;
}

#u17495-4
{
	z-index: 271;
	width: 97px;
	min-height: 42px;
	font-size: 11px;
	color: #7F7F7F;
	font-family: lato, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 11px;
}

#pu17442-14
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u17442-14
{
	z-index: 90;
	width: 527px;
	min-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17513
{
	z-index: 281;
	display: block;
	vertical-align: top;
	margin-left: 97px;
	position: relative;
}

#pu17444-4
{
	width: 0.01px;
	margin-top: 25px;
	position: relative;
}

#u17444-4
{
	z-index: 108;
	width: 148px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: #FFFFFF;
	line-height: 1.45;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17445
{
	z-index: 112;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u17446
{
	z-index: 113;
	width: 18px;
	opacity: 0.52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
	filter: alpha(opacity=52);
	position: relative;
	margin-right: -10000px;
}

#u17448-5
{
	z-index: 115;
	width: 111px;
	min-height: 14px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 687px;
}

#u17451
{
	z-index: 126;
	width: 760px;
	padding-bottom: 0px;
	margin-left: 1px;
	margin-top: 40px;
	position: relative;
}

#ppu17483
{
	width: 0.01px;
	position: relative;
}

#pu17483
{
	width: 0.01px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 539px;
}

#u17483
{
	z-index: 130;
	width: 198px;
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 11px 8.400000000000091px;
}

#u17477-4
{
	z-index: 146;
	width: 198px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u17480-4
{
	z-index: 174;
	width: 198px;
	min-height: 45px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u17462
{
	z-index: 131;
	width: 198px;
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	margin-top: 9px;
	position: relative;
	padding: 13px 10px 8.400000000000091px 12px;
}

#u17479-4
{
	z-index: 150;
	width: 194px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u17461-4
{
	z-index: 178;
	width: 198px;
	min-height: 45px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u17460
{
	z-index: 127;
	width: 528px;
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17460_position_content
{
	margin-top: -13px;
	margin-bottom: -1px;
}

#u17452-4
{
	z-index: 134;
	width: 421px;
	min-height: 14px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u17454
{
	z-index: 203;
	width: 38px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u17476-4
{
	z-index: 162;
	width: 431px;
	min-height: 14px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17481-4
{
	z-index: 190;
	width: 431px;
	min-height: 87px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 33px;
	position: relative;
}

#u17459-4
{
	z-index: 209;
	width: 23px;
	min-height: 16px;
	font-size: 11px;
	color: #7CB47C;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 468px;
}

#u17472
{
	z-index: 128;
	width: 528px;
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17472_position_content
{
	margin-top: -13px;
	margin-bottom: 6px;
}

#pu17464-4
{
	width: 0.01px;
	margin-left: 22px;
	position: relative;
}

#u17464-4
{
	z-index: 138;
	width: 421px;
	min-height: 14px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u17469
{
	z-index: 205;
	width: 42px;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u17469_clip
{
	overflow: hidden;
	width: 42px;
	height: 58px;
}

#u17469_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u17467-4
{
	z-index: 166;
	width: 431px;
	min-height: 14px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17463-5
{
	z-index: 194;
	width: 431px;
	min-height: 52px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 34px;
	position: relative;
}

#u17463-2
{
	text-decoration: underline;
	color: #7CB47C;
	font-weight: 700;
}

#u17471
{
	z-index: 132;
	width: 198px;
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 539px;
	padding: 12px 10px 8.400000000000091px 12px;
}

#u17484-4
{
	z-index: 154;
	width: 194px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u17458-4
{
	z-index: 182;
	width: 198px;
	min-height: 45px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u17482-4
{
	z-index: 213;
	width: 23px;
	min-height: 16px;
	font-size: 11px;
	color: #7CB47C;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 468px;
}

#pu17472,#pu17457
{
	width: 0.01px;
	margin-top: 30px;
	position: relative;
}

#u17457
{
	z-index: 129;
	width: 528px;
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17457_position_content
{
	margin-top: -12px;
	margin-bottom: 5px;
}

#pu17452-4,#pu17473-4
{
	width: 0.01px;
	margin-left: 21px;
	position: relative;
}

#u17473-4
{
	z-index: 142;
	width: 421px;
	min-height: 14px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u17474
{
	z-index: 207;
	width: 38px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u17454_clip,#u17474_clip
{
	overflow: hidden;
	width: 38px;
	height: 58px;
}

#u17454_img,#u17474_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u17468-4
{
	z-index: 170;
	width: 431px;
	min-height: 14px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u17456-4
{
	z-index: 199;
	width: 431px;
	min-height: 52px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 34px;
	position: relative;
}

#u17453
{
	z-index: 133;
	width: 198px;
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7CB47C;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 539px;
	padding: 13px 10px 8.399999999999636px 12px;
}

#u17466-4
{
	z-index: 158;
	width: 194px;
	min-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u17478-4
{
	z-index: 186;
	width: 198px;
	min-height: 45px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u17465-4
{
	z-index: 217;
	width: 23px;
	min-height: 16px;
	font-size: 11px;
	color: #7CB47C;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 468px;
}

#u17450-5
{
	z-index: 121;
	width: 68px;
	min-height: 14px;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 877px;
	margin-top: 24px;
	position: relative;
}

#u17448,#u17450
{
	font-family: lato, sans-serif;
	font-weight: 400;
}

body
{
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

